.rodape_icones{
    margin-left: 4em;
}

.icones_item {
    height: 4vh;
    margin-right: 1em;
    cursor: pointer;
}

.rodape_links {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-left: 4em;
    margin-top: 2em;
    font-weight: 300;
    margin-bottom: 2em;
}

.links {
    text-decoration: none;
    color: var(--branco);
}

.links:hover {
    color: var(--vermelho);
    scale: 1.01
}

.links_coluna1, .links_coluna2, .links_coluna3, .links_coluna4 {
    margin-bottom: 1em;
        
}

.codigo_servico {
    text-decoration: none;
    color: var(--branco);
    margin-left: 4em;
    padding: .8em .5em;
    border: 1px solid var(--branco);
}

.codigo_servico:hover {
    background-color: var(--cinza-hover);
}

.copyright {
    margin-top: 4em;
    margin-left: 4em;
    font-size: .9em;
    font-weight: 200;
}